body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif, sans-serif;
    font-size: medium;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #E6E6E6;
    justify-content: center;
  }
  
  header.top{
    display: block;
    padding: 5px;
    border: solid #004684 1px;
    background-color:#004684;
}
header.top > img#logo{
    display: inline;
    width: 172px;
    height: 80px;
    padding: 1px;
    margin: 10px;
    vertical-align: middle;
}
  
  h1 {
    color: #333333;
    font-size: 24px;
    margin: 0;
  } 


  p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
  }
  
  button {
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  footer{
    font-size: medium;
    background-color: #004684;
    width: auto;
    color: #E6E6E6;
    text-align: center;
    margin-top: 100px;
}

div#texto{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    width: 300px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px;
  }
  
  .card h3 {
    color: #333333;
    font-size: 18px;
  }
  
  .card p {
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
  }

  .section-part {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .section-part img {
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  
  .section-part p {
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;

  }

img#image{
    width: auto;
    height: 500px;
}